body{
    font-family: Arial, sans-serif;
    background:#dbeafe;
    margin:0;
    padding:0;
}

.container{
    width:450px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#003366;
}

p{
    text-align:center;
}

label{
    display:block;
    margin-top:10px;
    font-weight:bold;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:12px;
    background:#0f766e;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#115e59;
}